@{
    ViewBag.Title = "Accounts";
}
@model BudgetTrackerApp.Models.AccountsViewModel


<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />

<script>
    $(document).ready(function () {
        $("#accountsTable").DataTable({
            "order": [[4, "desc"]]
        });
    });
</script>


<div class="jumbotron">
    <h1 class="text-center">Accounts</h1>
</div>

<div class="row">
    <table class="table" id="accountsTable">
        <thead>
            <tr>
                <th>@Html.DisplayName("Username")</th>
                <th>@Html.DisplayName("First Name")</th>
                <th>@Html.DisplayName("Last Name")</th>
                <th>@Html.DisplayName("Last Online")</th>
                <th>@Html.DisplayName("Created Date")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Accounts != null)
            {
                foreach (var account in Model.Accounts)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => account.Username)</td>
                    <td>@Html.DisplayFor(modelItem => account.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => account.LastName)</td>
                    <td>@account.LastOnlineDate.ToString("yyyy/MM/dd")</td>
                    <td>@account.CreatedDate.ToString("yyyy/MM/dd")</td>
                </tr>
                }
            }
        </tbody>
    </table>

</div>
