@{
    ViewBag.Title = "Settings";
}
@model BudgetTrackerApp.Models.SettingsViewModel

<div class="jumbotron">
    <h1 class="text-center">Settings</h1>
</div>

<script>
    $(document).ready(function () {
        $('#removeSharedBudgetModal').on('show.bs.modal', function (event) {
            var modal = $(this);
            modal.find('input[name="budgetId"]').val($("#SharedBudgets").val());
            modal.find('#removeModalUsername').text($("#SharedBudgets option:selected").text());
            modal.find('input[name="username"]').val($("#SharedBudgets option:selected").text());
        });

        $('#acceptSharedBudgetModal').on('show.bs.modal', function (event) {
            var modal = $(this);
            modal.find('input[name="budgetId"]').val($("#PendingBudgets").val());
            modal.find('.modalUsername').text($("#PendingBudgets option:selected").text());
        });

        $('#declineSharedBudgetModal').on('show.bs.modal', function (event) {
            var modal = $(this);
            modal.find('input[name="budgetId"]').val($("#PendingBudgets").val());
            modal.find('.modalUsername').text($("#PendingBudgets option:selected").text());
        });

        $('#changeSharedBudgetModal').on('show.bs.modal', function (event) {
            var modal = $(this);
            modal.find('input[name="budgetId"]').val($("#MyBudgets").val());
            modal.find('.modalUsername').text($("#MyBudgets option:selected").text());
        });

        $('#deleteMySharedBudgetModal').on('show.bs.modal', function (event) {
            var modal = $(this);
            modal.find('input[name="budgetId"]').val($("#MyBudgets").val());
            modal.find('.modalUsername').text($("#MyBudgets option:selected").text());
        });
    });
</script>

<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#budgetGoals">Budget Goals</a></li>
        <li><a data-toggle="tab" href="#settings">Account Settings</a></li>
        <li><a data-toggle="tab" href="#budgets">User Budgets</a></li>
    </ul>

    <div class="tab-content">
        <div id="budgetGoals" class="tab-pane fade in active">
            <form action="UpdateBudgetGoal" method="post">
                <label for="budgetGoalsEnabled">Progress Bar Enabled:</label>
                <input type="checkbox" name="budgetGoalsEnabled" @(Model.myBudgetGoal != null ? (Model.myBudgetGoal.IsProgressBarEnabled ? "checked" : "") : "")><br /><br />
                <label for="budgetAmount">Budget Amount ($):</label>
                <input type="number" name="budgetAmount" value="@(Model.myBudgetGoal != null ? Model.myBudgetGoal.BudgetAmount : Decimal.Zero)" min="1" required><br /><br />
                <input type="submit" class="btn btn-default" />
            </form>
        </div>
        <div id="settings" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="budgets" class="tab-pane fade">
            <div class="col-sm-4">
                <h3>User Budgets</h3>
                @if (Model.MyBudgetsList != null)
                {
                    @Html.DropDownList("MyBudgets", Model.MyBudgetsList, new { @size = 15, style = "width:270px;" }); <br />
                    <input type="button" id="SelectUserBudgetButton" value="Select" class="btn btn-primary pull-left" data-toggle="modal" data-target="#changeSharedBudgetModal">
                    <input type="button" id="DeleteUserBudgetButton" value="Delete" class="btn btn-primary" data-toggle="modal" data-target="#deleteMySharedBudgetModal">
                }
                else
                {
                    <span>~None~</span>
                }
            </div>
            <div class="col-sm-4">
                <h3>Pending Budgets</h3>
                @if (Model.PendingBudgetsList != null && Model.PendingBudgetsList.Count() > 0)
                {
                    @Html.DropDownList("PendingBudgets", Model.PendingBudgetsList, new { @size = 15, @style = "width:270px;" }); <br />
                    <input type="button" id="AcceptPendingButton" value="Accept" class="btn btn-primary pull-left" data-toggle="modal" data-target="#acceptSharedBudgetModal">
                    <input type="button" id="DeclinePendingButton" value="Decline" class="btn btn-primary" data-toggle="modal" data-target="#declineSharedBudgetModal">
                }
                else
                {
                    <span>~None~</span>
                }
            </div>
            <div class="col-sm-4">
                <h3>Shared Budgets</h3>
                @if (Model.SharedBudgetUserList != null)
                {
                    @Html.DropDownList("SharedBudgets", Model.SharedBudgetUserList, new { @size = 15, @style = "width:270px;" }); <br />
                    <input type="button" id="AddSharedUserButton" value="Share" class="btn btn-primary pull-left" data-toggle="modal" data-target="#addSharedBudgetModal">
                    <input type="button" id="RemoveSharedUserButton" value="Remove" class="btn btn-primary" data-toggle="modal" data-target="#removeSharedBudgetModal">
                }
                else
                {
                    <span>~None~</span>
                }
            </div>
        </div>
    </div>
</div>

<!-- Add Shared Budget Modal -->
<div id="addSharedBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter the username of the person you wish to share your budget with.</h4>
            </div>
            <div class="modal-body">
                <form action="CreateSharedBudget" method="post">
                    <input type="text" name="username" id="username" required><br /><br />
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Remove Shared Budget Modal -->
<div id="removeSharedBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the following user from your shared budget: <span id="removeModalUsername"></span></p>
                <form action="DeleteSharedBudget" method="post">
                    <input type="hidden" name="budgetId" required>
                    <input type="hidden" name="username" required>
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Accept Shared Budget Modal -->
<div id="acceptSharedBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Accept Shared Budget</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to accept shared budget from the following user: <span class="modalUsername"></span></p>
                <form action="AcceptSharedBudget" method="post">
                    <input type="hidden" name="budgetId" required>
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Decline Shared Budget Modal -->
<div id="declineSharedBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Decline Shared Budget</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to decline shared budget from the following user: <span class="modalUsername"></span></p>
                <form action="DeclineSharedBudget" method="post">
                    <input type="hidden" name="budgetId" required>
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Change Shared Budget Modal -->
<div id="changeSharedBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change budget</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to change to <span class="modalUsername"></span>'s shared budget?</p>
                <form action="ChangeSharedBudget" method="post">
                    <input type="hidden" name="budgetId" required>
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete My Shared Budget Modal -->
<div id="deleteMySharedBudgetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Access to Shared Budget</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove your access to <span class="modalUsername"></span>'s shared budget?</p>
                <form action="DeleteMySharedBudgetModal" method="post">
                    <input type="hidden" name="budgetId" required>
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
