@{
    ViewBag.Title = "Expenses";
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
}
@model BudgetTrackerApp.Models.ExpensesViewModel

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />

<script>
    $(document).ready(function () {
        $('#editCategoryModal').on('show.bs.modal', function (event) {
            var modal = $(this);
            modal.find('#categoryName').val($("#CategoryId option:selected").text());
            modal.find('#categoryId').val($("#CategoryId").val());
        });
        $('#deleteCategoryModal').on('show.bs.modal', function (event) {
            var modal = $(this);
            modal.find('#categoryName').text($("#CategoryId option:selected").text());
            modal.find('#categoryId').val($("#CategoryId").val());
        });
        $('#editExpenseModal').on('show.bs.modal', function (event) {
            var expenseId = $(event.relatedTarget).closest('tr').data('expense-id');
            var description = $(event.relatedTarget).closest('tr').data('description');
            var categoryId = $(event.relatedTarget).closest('tr').data('category-id');
            var date = $(event.relatedTarget).closest('tr').data('date');
            var amount = $(event.relatedTarget).closest('tr').data('amount');
            var modal = $(this);

            modal.find('input[name=expenseId]').val(expenseId);
            modal.find('input[name=description]').val(description);
            modal.find('select[name=CategoryId]').val(categoryId);
            modal.find('input[name=amount]').val(amount);
            modal.find('input[name=date]').val(date);
        });

        $('#deleteExpenseModal').on('show.bs.modal', function (event) {
            var expenseId = $(event.relatedTarget).closest('tr').data('expense-id');
            var description = $(event.relatedTarget).closest('tr').data('description');
            var categoryId = $(event.relatedTarget).closest('tr').data('category-id');
            var date = $(event.relatedTarget).closest('tr').data('date');
            var amount = $(event.relatedTarget).closest('tr').data('amount');
            var modal = $(this);

            modal.find('input[name=expenseId]').val(expenseId);
            modal.find('input[name=description]').val(description);
            modal.find('select[name=CategoryId]').val(categoryId);
            modal.find('input[name=amount]').val(amount);
            modal.find('input[name=date]').val(date);
        });
    });

</script>
<div class="jumbotron">
    <h1 class="text-center">@(user.FindFirst("FirstName").Value)'s Expenses</h1>
</div>

<div class="row">
    <div class="col-lg-10">
        <table class="table" id="expenseTable">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Description")</th>
                    <th>@Html.DisplayName("Category")</th>
                    <th>@Html.DisplayName("Date")</th>
                    <th>@Html.DisplayName("Amount ($)")</th>
                    <th>@Html.DisplayName("Actions")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model.Expenses)
                {
                    <tr data-expense-id="@expense.ExpenseId" data-description="@expense.Description" data-category-id="@expense.CategoryId" data-date="@expense.Date.ToString("yyyy-MM-dd")" data-amount="@expense.Amount">
                        <td>@Html.DisplayFor(modelItem => expense.Description)</td>
                        <td>@Html.DisplayFor(modelItem => expense.Category.Name)</td>
                        <td>@expense.Date.ToString("dd/MM/yyyy")</td>
                        <td>@Html.DisplayFor(modelItem => expense.Amount)</td>
                        <td>
                            <i class="fa fa-picture-o"></i>
                            <i class="fa fa-upload"></i>
                            <i class="fa fa-pencil" title="Edit" data-toggle="modal" data-target="#editExpenseModal"></i>
                            <i class="fa fa-trash" title="Delete" data-toggle="modal" data-target="#deleteExpenseModal"></i>
                        </td>
                    </tr>
                }
            </tbody>
</table>
    </div>
    <div class="col-lg-2">
        <div id="buttons">
            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#addExpenseModal">Add Expense</button>
            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#categoriesModal">Categories</button>
            <button type="button" class="btn btn-default btn-block">Export to Excel</button>
        </div>
        <div id="filter">
        </div>
    </div>
</div>

<!-- Add Expense Modal -->
<div id="addExpenseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Expense</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="CreateExpense">
                    <fieldset>
                        <legend>Expense Information</legend>
                        <label for="date">Date:</label>
                        <input type="date" name="date" required><br />

                        <label for="CategoryId">Category:</label>
                        @Html.DropDownList("CategoryId", Model.Categories)<br />

                        <label for="description">Description:</label>
                        <input type="text" name="description" required/><br />
                        
                        <label for="amount">Amount ($):</label>
                        <input type="number" step="any" name="amount" required/><br />
                        
                        <input type="submit" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Expense Modal -->
<div id="editExpenseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Expense</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="EditExpense">
                    <fieldset>
                        <legend>Expense Information</legend>

                        <input type="hidden" name="expenseId" required><br />

                        <label for="date">Date:</label>
                        <input type="date" name="date" required><br />

                        <label for="CategoryId">Category:</label>
                        @Html.DropDownList("CategoryId", Model.Categories)<br />

                        <label for="description">Description:</label>
                        <input type="text" name="description" required /><br />

                        <label for="amount">Amount ($):</label>
                        <input type="number" step="any" name="amount" required /><br />

                        <input type="submit" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Expense Modal -->
<div id="deleteExpenseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Expense</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="deleteExpense">
                    <fieldset>
                        <legend>Expense Information</legend>

                        <input type="hidden" name="expenseId" required><br />

                        <label for="date">Date:</label>
                        <input type="date" name="date" required disabled><br />

                        <label for="CategoryId">Category:</label>
                        @Html.DropDownList("CategoryId", Model.Categories, new { @disabled = "disabled" })<br />

                        <label for="description">Description:</label>
                        <input type="text" name="description" required disabled /><br />

                        <label for="amount">Amount ($):</label>
                        <input type="number" step="any" name="amount" required disabled /><br />

                        <input type="submit" class="btn btn-default" value="Yes"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Categories Modal -->
<div id="categoriesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Categories</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8">
                        @Html.DropDownList("CategoryId", Model.Categories, new { @size = 15 })
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#addCategoryModal">Add</button>
                        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#editCategoryModal">Edit</button>
                        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#deleteCategoryModal">Delete</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Category Modal -->
<div id="addCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Category</h4>
            </div>
            <div class="modal-body">
                <form action="CreateCategory" method="post">
                    <input type="text" name="categoryName" id="categoryName">
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Category Modal -->
<div id="editCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Category</h4>
            </div>
            <div class="modal-body">
                <form action="EditCategory" method="post">
                    <input type="hidden" name="categoryId" id="categoryId">
                    <input type="text" name="categoryName" id="categoryName">
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Category Modal -->
<div id="deleteCategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Category</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete category: <span id="categoryName"></span></p>
                <form action="DeleteCategory" method="post">
                    <input type="hidden" name="categoryId" id="categoryId">
                    <input type="submit" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
