@{
    ViewBag.Title = "Income";
}
@model BudgetTrackerApp.Models.IncomeViewModel

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#expenseTable").DataTable({
            "order": [[1, "desc"]]
        });

        $('#editIncomeModal').on('show.bs.modal', function (event) {
            var incomeId = $(event.relatedTarget).closest('tr').data('income-id');
            var description = $(event.relatedTarget).closest('tr').data('description');
            var date = $(event.relatedTarget).closest('tr').data('date');
            var amount = $(event.relatedTarget).closest('tr').data('amount');
            var modal = $(this);

            modal.find('input[name=incomeId]').val(incomeId);
            modal.find('input[name=description]').val(description);
            modal.find('input[name=amount]').val(amount);
            modal.find('input[name=date]').val(date);
        });

        $('#deleteIncomeModal').on('show.bs.modal', function (event) {
            var incomeId = $(event.relatedTarget).closest('tr').data('income-id');
            var description = $(event.relatedTarget).closest('tr').data('description');
            var date = $(event.relatedTarget).closest('tr').data('date');
            var amount = $(event.relatedTarget).closest('tr').data('amount');
            var modal = $(this);

            modal.find('input[name=incomeId]').val(incomeId);
            modal.find('input[name=description]').val(description);
            modal.find('input[name=amount]').val(amount);
            modal.find('input[name=date]').val(date);
        });
    });
</script>

<div class="jumbotron">
    <h1 class="text-center">@(Request.Cookies["BudgetUsername"]?.Value)'s Income</h1>
</div>

<div class="row">
    <div class="col-lg-10">
        <table class="table" id="expenseTable">
            <thead>
                <tr>
                    <th>@Html.DisplayName("Description")</th>
                    <th>@Html.DisplayName("Date")</th>
                    <th>@Html.DisplayName("Amount ($)")</th>
                    <th data-sortable="false">@Html.DisplayName("Actions")</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.IncomeList != null)
                {
                    foreach (var income in Model.IncomeList)
                    {
                        <tr data-income-id="@income.IncomeId" data-description="@income.Description" data-date="@income.Date.ToString("yyyy-MM-dd")" data-amount="@income.Amount">
                            <td>@Html.DisplayFor(modelItem => income.Description)</td>
                            <td>@income.Date.ToString("yyyy/MM/dd")</td>
                            <td>@Html.DisplayFor(modelItem => income.Amount)</td>
                            <td>
                                <i class="fa fa-pencil" title="Edit" data-toggle="modal" data-target="#editIncomeModal"></i>
                                <i class="fa fa-trash" title="Delete" data-toggle="modal" data-target="#deleteIncomeModal"></i>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-2">
        <div id="buttons">
            <form method="post" action="ExportIncomeToExcel">
                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#addIncomeModal">Add Income</button>
                <button type="button" class="btn btn-default btn-block hidden" data-toggle="modal" data-target="#periodicIncomeModal">Set Up Periodic Income</button>
                <button type="submit" class="btn btn-default btn-block">Export To Excel</button>
            </form>
        </div>
        <div id="filter">
        </div>
    </div>
</div>

<!-- Add Income Modal -->
<div id="addIncomeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add One-Time Income</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="CreateIncome">
                    <fieldset>
                        <legend>Income Information</legend>
                        <label for="date">Date:</label>
                        <input type="date" name="date" required><br />

                        <label for="description">Description:</label>
                        <input type="text" name="description" required /><br />

                        <label for="amount">Amount ($):</label>
                        <input type="number" step="any" name="amount" min="0" required /><br />

                        <input type="submit" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Income Modal -->
<div id="editIncomeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Expense</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="EditIncome">
                    <fieldset>
                        <legend>Income Information</legend>

                        <input type="hidden" name="incomeId" required><br />

                        <label for="date">Date:</label>
                        <input type="date" name="date" required><br />

                        <label for="description">Description:</label>
                        <input type="text" name="description" required /><br />

                        <label for="amount">Amount ($):</label>
                        <input type="number" step="any" name="amount" min="0" required /><br />

                        <input type="submit" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Income Modal -->
<div id="deleteIncomeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Income</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="deleteIncome">
                    <fieldset>
                        <legend>Income Information</legend>

                        <input type="hidden" name="incomeId" required><br />

                        <label for="date">Date:</label>
                        <input type="date" name="date" required disabled><br />

                        <label for="description">Description:</label>
                        <input type="text" name="description" required disabled /><br />

                        <label for="amount">Amount ($):</label>
                        <input type="number" step="any" name="amount" min="0" required disabled /><br />

                        <input type="submit" class="btn btn-default" value="Yes" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>